/* CSS Document */
.content{
	width:1024px;
	margin:0 auto;
}
.content .leftarea{
	width:70%;
	float:left;
	margin-left:20px;
}
.content .rightarea{
	width:25%;
	float:right;
	margin-left:20px;
}
h2{
	font-size:22px;
	color:rgb(65,166,42);
	margin:20px 0px 10px;
}
h2 span{
	font-weight:bold;
	font-size:22px;
	color:#fff;
	padding-top:5px;
	margin-right:7px;
	background-color:rgb(65,166,42);
	width:35px;
	height:30px;
	display:inline-block;
	text-align:center;
}
#inputtxt label{
	float:none;
	display:inline;
	padding-right:5px;
}
#inputtxt input{
	font-size:14px;
	height:18px;
	padding:5px;
	margin-left:5px;
}
#inputtxt span{
	color:rgb(65,166,42);
	font-weight:blod;
	font-size:22px;
	margin:0 20px;
}
input{
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition:border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	width:220px;
	display:inline-block;
	margin-bottom:9px;
	line-height:18px;
	color:#555;
	border:1px solid #ccc;
	border-radius:3px;
}
p{
	font-size:12px;
	line-height:18px;
	color:#666;
	margin:20px 0px;
}
.code{
	display:inline-block;
	width:200px;
	text-align:center;
	margin-left:10px;
	border:2px solid rgb(65,166,42);
}
.copycode{
	color:#fff;
	display:inline-block;
	padding:0px 3px;
	cursor:pointer;
	background-color:rgb(65,166,42);
	border:2px solid rgb(65,166,42);
}
.copyok{
	color:#fff;
	border:2px solid #fff;
	display:inline-block;
	margin-left:16px;
	padding:0px 3px;
}
.codeh{
	border:2px solid rgb(53,249,8);
}
.copycodeh{
	color:#000;
	background-color:rgb(53,249,8);
	border:2px solid rgb(53,249,8);
}

/*文字说明部分*/
#tab{
	width:100%;
	margin-top:20px;
	float:left;
}
.nav{
	margin-left:0px;
	margin-bottom::18px;
	list-style:none outside none;
}
.nav-tabs{
	border-bottom:1px solid #ddd;
}
.nav-tabs:after{
	clear:both;
}
.nav-tabs:before{
	display:table;
	content:"";
}

.nav-tabs > li{
	margin-bottom:-1px;
	float:left;
}
li{
	line-height:18px;
}
#tab li.active a{
	background-color:#eee;
	color:#666;
	border-bottom-color:transparent;
}
#tab li a{
	margin-right:10px;
	border-bottom-color:#ddd;
	color:#666;
}
.nav-tabs .active a,.nav-tabs .active a:hover {
	color:#555;
	background-color:#eee;
	border-width:1px;
	border-style:solid;
	border-color:#ddd #ddd transparent;
	cursor:default;
}
.nav-tabs li a{
	padding-top:9px;
	padding-bottom:9px;
	border:1px solid transparent;
	border-radius:4px 4px 0px 0px;
}
.nav-tabs li a{
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	line-height: 14px;
}
.nav li a {
    display: block;
}
#info{
	padding-top:5px;
	background-color:#eee;
	padding-bottom:10px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#info div{
	text-align:left;
	padding-left:10px;
}
#info div span{
	color:#fff;
	width:18px;
	height:18px;
	line-height:18px;
	background-color:rgb(65,166,42);
	text-align:center;
	margin-right:5px;
}
.rightarea{
	margin:20px 0px 10px;
}

.rightarea h5{
	padding-bottom:5px;
	font-size:20px;
	line-height:20px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(65,166,42);
}
.rightarea h5 span{
	padding-left:10px;
	color:rgb(65,166,42);
}
.webname .search{
	padding:0px 10px;
}
.webname .search input{
	width:200px;
}
.webname .search span{
	line-height:18px;
	border-radius:5px;
	text-align:center;
	width:30px;
	height:18px;
	background-color:rgb(65,166,42);
}

.webname .search span a{
	color:#fff;
}
.rightarea .webname{
	margin:5px 0px;
}
.rightarea .webname .webitem{
	margin:0px 5px;
	padding:5px 10px;
	border-bottom:1px dotted rgb(53,249,8);
}

.webitem a{
	display:inline-block;
}
.webitem a img{
	display:inline-block;
	border-radius:10px;
	border:1px solid #6F0;
}

.rightarea .linking .row{
	padding:5px;
	border-bottom:1px dotted rgb(53,249,8);
}

.rightarea .linking .row a{
	display:inline-block;
	line-height:20px
}
.rightarea .linking .row span.rank{
	width:20px;
	height:20px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	background-color:rgb(65,166,42);
	margin-right:5px;
}
.rightarea .linking .row span.tags{
	margin-left:15px;
	font-style:italic;
}