<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>采集器命名2</title>
</head>

<body>

<script language="JavaScript">
function fCheck() {

	if(rule.name.value =="") {
		alert("请输入采集器名字");
		rule.name.focus();
		return false;
	}


	if(rule.cid.value==0) {
		alert("请选择一个分类");
		rule.cid.focus();
		return false;
	}
	return true;
}
</script>

<form method="POST" name="rule" action="index.php?work=addrules" onSubmit="return fCheck()"  enctype="multipart/form-data">
<table style="border-collapse: collapse" cellSpacing="0" cellPadding="0" width="100%" border="1" bordercolor="#C0C0C0">
	<tr>
		<td>
		
<table style="BORDER-COLLAPSE: collapse" cellPadding="0" width="100%" bgColor="#636194" border="0">
	<tr>
		<td width="80%" height="25">
		<font color="#FFFFFF">&nbsp;名字</font></td>
		<td width="20%">
		</td>
	</tr>
	<tr>
		<td align="middle" bgColor="#f4f4f2" colSpan="2">



		<table style="BORDER-COLLAPSE: collapse" cellSpacing="0" cellPadding="0" width="100%" border="0">
			<tr>
				<td width="20%" bgColor="#f7f7f7" height="35" align="center">采集器名字</td>
				<td bgColor="#efefef" width="80%">&nbsp;<input type="text" name="name" value="" size="50" class="button">　</td>
			</tr>
		</table>
		</td>
	</tr>
</table>

		<p></p>

<table style="BORDER-COLLAPSE: collapse" cellPadding="0" width="100%" bgColor="#636194" border="0">
	<tr>
		<td width="80%" height="25">
		&nbsp;<font color="#FFFFFF">分类</font></td>
		<td width="20%">
		</td>
	</tr>
	<tr>
		<td align="middle" bgColor="#f4f4f2" colSpan="2">
		<table style="BORDER-COLLAPSE: collapse" cellSpacing="0" cellPadding="0" width="100%" border="0">
			<tr>
				<td width="20%" bgColor="#f7f7f7" height="35" align="center">分类</td>
				<td bgColor="#efefef" width="80%">　
				<select name="cid">
				<!-- BEGIN class --> 
				<option value="{cid}">{cname}</option>
				<!-- END class --> 

						</select></td>
			</tr>
		</table>
		</td>
	</tr>
</table>

		<p></p>
		
<table style="border-collapse: collapse" cellPadding="0" width="100%" bgColor="#636194" border="0">
			<tr>
				<td width="80%"  height="25" bordercolor="#636194">
				&nbsp;<font color="#FFFFFF">连接页部份</font></td>
				<td width="20%" >
				</td>
			</tr>
			<tr>
				<td align="middle" bgColor="#f4f4f2" colSpan="2">
				<table style="border-collapse: collapse" cellPadding="0" width="100%" border="1" bordercolor="#C0C0C0">
					<tr>
						<td width="20%" bgColor="#f7f7f7" height="30">
						<input type="radio" value="1" name="index_type">&nbsp;从一个网页
						</td>
						<td bgColor="#efefef" width="80%">&nbsp;<input  size="50" name="onepage"></td>
					</tr>
					<tr>
						<td bgColor="#f7f7f7">
						<input type="radio" value="2" name="index_type">&nbsp;指定多网页</td>
						<td bgColor="#efefef" width="80%" height="125">&nbsp;<textarea name="manypage" rows="5" cols="70"></textarea><p>
						&nbsp;在上面的输入框中输入指定的网页连接,一行一个地址
</td>
					</tr>
					<tr>
						<td bgColor="#f7f7f7">
						<input type="radio" value="3" name="index_type">&nbsp;指定范围内</td>
						<td bgColor="#efefef" width="80%" height="80">

&nbsp;<input  size="80" name="oneurl"></a></p>
					<p dir="ltr">&nbsp;<input size="3" name="url_start">&nbsp;(可选\任何字符)到&nbsp;<input size="3" name="url_end">&nbsp;(必填\数字)的范围&nbsp;&nbsp;&nbsp; 
					标签： [分页]</p>
					</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		
		<p></p>
		
		<table style="border-collapse: collapse" cellPadding="0" width="100%" bgColor="#636194" border="0">
			<tr>
				<td width="80%"  height="25">
				&nbsp;<font color="#FFFFFF">连接部份</font></td>
				<td width="20%" >
				</td>
			</tr>
			<tr>
				<td align="middle" bgColor="#f4f4f2" colSpan="2">
				<table style="border-collapse: collapse" cellPadding="0" width="100%" border="1" bordercolor="#C0C0C0" height="236">
					<tr>
						<td width="20%" bgColor="#f7f7f7" align="center">
						链接</td>
						<td bgColor="#efefef" width="80%" height="180">　<textarea  name="link_rule" rows="9" cols="80" ></textarea>
　<p>&nbsp;可用标签： [连接] [标题] [变数] </td>
					</tr>
						<tr>
						<td width="20%" bgColor="#f7f7f7" align="center">
						<p dir="ltr">替换链接</td>
						<td bgColor="#efefef" width="80%" height="80">&nbsp;<input  size="80" name="jclinks"><p>&nbsp;如果为JC式的连接 
						是不完整链接 可以在网址前后加以补充&nbsp;&nbsp; 可用标签： [替换链接]</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		
		<p></p>
		
		<table style="border-collapse: collapse" cellPadding="0" width="100%" bgColor="#636194" border="0">
			<tr>
				<td width="80%" height="25">
				<font color="#FFFFFF">&nbsp;内容部份</font></td>
				<td width="20%" >
				</td>
			</tr>
			<tr>
				<td align="middle" bgColor="#f4f4f2" colSpan="2">
				<table style="border-collapse: collapse" cellPadding="0" width="100%" border="1" bgcolor="#C0C0C0" bordercolor="#C0C0C0">
					<tr>
						<td bgColor="#f7f7f7" height="46" width="20%" align="center">内容</td>
						<td bgColor="#efefef" width="80%" height="180">&nbsp;<textarea  name="body_rule" rows="9" cols="80" ></textarea>
						<p>&nbsp;可用标签： [内容] [变数] 
					</td>
					</tr>
					<tr>
						<td bgColor="#f7f7f7" height="46" align="center">作者</td>
						<td bgColor="#efefef" width="80%" height="125">&nbsp;<textarea  name="author" rows="5" cols="80" ></textarea><p>&nbsp;可用标签： 
						[作者] [变数] </td>
					</tr>
					<tr>
						<td bgColor="#f7f7f7" height="28" align="center">来源</td>
						<td bgColor="#efefef" width="80%" height="125">&nbsp;<textarea  name="source" rows="5" cols="80" ></textarea><p>&nbsp;直接输入文字</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		
		<p></p>
		
		<table style="border-collapse: collapse" cellPadding="0" width="100%" bgColor="#636194" border="0">
			<tr>
				<td width="80%" height="25" >
				&nbsp;<font color="#FFFFFF">分页部份</font></td>
				<td width="20%" >
				</td>
			</tr>
			<tr>
				<td align="middle" bgColor="#f4f4f2" colSpan="2">
				<table style="border-collapse: collapse" cellPadding="0" width="100%" border="1" bordercolor="#C0C0C0">
					<tr>
						<td bgColor="#f7f7f7" align="center">内容分页类型</td>
						<td bgColor="#efefef" height="30">&nbsp;&nbsp;&nbsp;</td>
					</tr>
					<tr>
						<td width="20%" bgColor="#f7f7f7">
						<input type="radio" value="1" name="formss"> 
						全部列出形式导航</td>
						<td bgColor="#efefef" width="80%">&nbsp;<textarea  name="form_code" rows="9" cols="80" ></textarea> 
						<p>&nbsp;内容分页显示 有 1 2 3 ... 这种连接列表或者下拉彩旦的 可以使用&nbsp;&nbsp; 
						可用标签： [分页区域] [变数] </td>
					</tr>
					<tr>
						<td bgColor="#f7f7f7">
						<input  type="radio" value="2" name="formss"> 
						上下页形式导航</td>
						<td bgColor="#efefef" width="80%">&nbsp;<textarea  rows="9" cols="80" name="form_next" ></textarea><p>&nbsp;内容分页显示 
						有下一页 上一页的 可以使用 若有前者 不推荐使用&nbsp;&nbsp; 可用标签： [上下页] [变数] </td>
					</tr>
					<tr>
						<td colSpan="2">　</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		
		<p></p>
				<table style="border-collapse: collapse" cellPadding="0" width="100%" bgColor="#636194" border="0">
			<tr>
				<td width="80%" height="25">
				<p dir="ltr">&nbsp;<font color="#FFFFFF">Cookie部份</font></td>
				<td width="20%" >
				</td>
			</tr>
			<tr>
				<td align="middle" bgColor="#f4f4f2" colSpan="2">
				<table style="border-collapse: collapse" cellPadding="0" width="100%" border="1" bgcolor="#C0C0C0" bordercolor="#C0C0C0" height="197">
					<tr>
						<td bgColor="#f7f7f7" height="147" width="20%" align="center">
						<input type="radio" value="1" name="radio_cookie" checked>填写Cookie</td>
						<td bgColor="#efefef" width="80%" height="147">&nbsp;<textarea  name="cookie" rows="9" cols="80" value=""></textarea>
						<br>请按正规Cookie 格式输入 推荐复制电脑里的Cookie</td>
					</tr>
					<tr>
						<td bgColor="#f7f7f7" height="51" align="center">
						<p dir="ltr">
						<input type="radio" value="2" name="radio_cookie">上传Cookie</td>
						<td bgColor="#efefef" width="80%" height="51">&nbsp;<input type="file" name="cookie" size="20">
			</td>
					</tr>

				</table>
				</td>
			</tr>
		</table>
		
		<p></p>

		
		
		<br>
		</td>
	</tr>
	<tr>
		<td class="cateborder" bgColor="#efefef" height="35">
		<p align="center"><input type="submit" value="添加采集器">&nbsp;&nbsp;<input onclick="self.location='?module=listRules'" type="button" value="采集器列表"></td>
	</tr>
</table>
</form>

</body>

</html>