<table border="1" width="100%" cellspacing="0" style="border-collapse: collapse" bordercolor="#C0C0C0" height="30">
	<tr>
		<td width="15%"  bgcolor="#8482A5" height="30" align="center">
		<p dir="ltr"><font color="#FFFFFF">ID</font></td>
		<td width="45%" height="30" bgcolor="#8482A5">
		<p dir="ltr">&nbsp;<font color="#FFFFFF">名字</font></td>
		<td height="30" bgcolor="#8482A5">
		
		<center>				  　</center>
		
		</td>
	</tr>
<!-- BEGIN duct --> 
	<tr>
		<td width="15%"  bgcolor="#F7F7F7">　{duct_id}</td>
		<td width="45%">　{duct_name}</td>
		<td>
		
		<center>				  <a href="?work=add_class&cid={duct_id}">编辑</a> 
				 | <a onclick="return window.confirm('您确定要删除编号为{duct_id}的导入规则『{duct_name}』么?');" href="?work=del&del=class&classid={duct_id}">删除</a></center>
		
		</td>
	</tr>
<!-- END duct --> 
</table>

