			<form  method="post" action="index.php?work=swf_work">
			<center>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse">
						<tr>
								<td height="25" background="images/tb_background.gif" colspan="2">&nbsp;&nbsp;<font color="#FFFFFF">图片采集</font></td>
						</tr>
						<tr> 
						 <td height="30" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" width="25%"> 
                          <center>
                            采集范围 
                          </center>
                        </td>
                        <td style="border: 1px solid #CCCCCC" width="75%">&nbsp;
                        <select name="rules">
									<option value=0>全部采集</option>
									<!-- BEGIN list --> 
									<option value="{rule_id}" >{rule_name}</option>									
									<!-- END list --> 
									</select>
                        </td>
                      </tr>
                      <tr> 
                        <td height="30" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" align="center" width="25%">保存路径</td>
                        <td style="border: 1px solid #CCCCCC" width="75%">&nbsp; 
                          <input type="text" name="paths" id="path" class="button" size="40">请输入完整路径 遵循正规目录地址 
						<br>比如： 目录在采集器目录 为 swf/ 在空间目录为 ../swf/ 请输入完整路径 比如 </td>
                      </tr>
                      <tr> 
                        <td height="30" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" width="25%"> 
                          <center>
                            采集范围 
                          </center>
                        </td>
                        <td style="border: 1px solid #CCCCCC" width="75%">&nbsp; 
                          <input type="text" name="total" size="5" class="button">
                          条 (留空表示采集全部连接)</td>
                      </tr>
                      <tr> 
                        <td height="30" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" width="25%"> 
                          <center>
                            <p dir="ltr">采集线程 </p>
                          </center>
                        </td>
                        <td style="border: 1px solid #CCCCCC" height="30" width="75%">
						<p dir="ltr">&nbsp; 
                          <input type="text" name="xiancheng" size="5" value="3" class="button">
                          条 (一般 5 以下就可以了 按网速设定)</td>
                      </tr>

                        </td>
                      </tr>
                      <tr> 
                        <td height="30" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" colspan="2" align="right"> 
                          <input type="submit" value="开始采集" class="button">&nbsp;&nbsp;
                        </td>
                      </tr>
                    </table>
						</center>
			</form>