<table border="1" width="100%" cellspacing="0" bordercolor="#636194" style="border-collapse: collapse">
	<tr>
		<td>
		
<form name="tablesForm" method="get" action="index.php">
<input type="hidden" value="contlink_show" name="work">
<p dir="ltr">

<select dir="ltr" onchange="this.form.submit();" name="rules">
<option value="">显示全部</option>
<!-- BEGIN rules -->
<option value="{id}" {selected}>{name}</option>
<!-- END rules --> 
</select> </p>
</form>
	
		</td>
	</tr>


	<tr>
		<td >

{dvpage}

<table border="1" width="100%"  bordercolor="#636194" cellspacing="0" cellpadding="4" style="border-collapse: collapse" >
	<tr>
		<td width="7%" bgcolor="#8482A5" align="center" height="30">
		<font color="#FFFFFF">ID</font></td>
		<td width="59%" bgcolor="#8482A5" height="30">
		<p dir="ltr"><font color="#FFFFFF">标题</font></td>
		<td width="10%" align="center" bgcolor="#8482A5" height="30">
		<font color="#FFFFFF">采集器ID</font></td>
		<td width="11%" align="center" bgcolor="#8482A5" height="30">
		<font color="#FFFFFF">时间</font></td>
	</tr>

<!-- BEGIN data --> 

	<tr>
		<td width="7%" bgcolor="#C0C0C0" align="center">&nbsp;{data_id}</td>
		<td width="59%"><a target="_blank" href="?work=cont_show&id={data_id}">&nbsp;{data_title}</a></td>
		<td width="10%" align="center">&nbsp;{data_rules}</td>
		<td width="11%" align="center">&nbsp;{data_date}</td>
	</tr>
<!-- END data --> 
</table>

{dvpage}

		　</td>
	</tr>
</table>