<table border="1" width="100%" cellspacing="0" style="border-collapse: collapse" bordercolor="#636194">
	<tr>
	<td bgcolor="#F7F3F7" width="21%" height="30">
	<p dir="ltr">数据ID</td>
			<td bgcolor="#F7F3F7" width="78%" height="30">　{data_id}</td>
	</tr>
	<tr>
		<td bgcolor="#F7F3F7" width="21%" height="30">数据名称</td>
		<td bgcolor="#F7F3F7" width="78%" height="30">　{data_title}</td>

	</tr>
	<tr>
		<td bgcolor="#F7F3F7" width="21%" height="30">入库时间</td>
		<td bgcolor="#F7F3F7" width="78%" height="30">　{data_date}</td>
	</tr>
	
		<td bgcolor="#F7F3F7" width="21%" height="30">
	<p dir="ltr">作者</td>
			<td bgcolor="#F7F3F7" width="78%" height="30">　{data_author}</td>
	</tr>
	<tr>
		<td bgcolor="#F7F3F7" width="21%" height="30">来源</td>
		<td bgcolor="#F7F3F7" width="78%" height="30">　{data_source}</td>

	</tr>
	<tr>
		<td bgcolor="#F7F3F7" width="21%" height="30">原文地址</td>
		<td bgcolor="#F7F3F7" width="78%" height="30">　<a href="{data_url}">{data_url}</a></td>
	</tr>
	
	<tr>
		<td colspan="2" height="30">　
							<center>
		<table width="98%">
		<tr>
			<td>{data_body}
									</td>
		</tr>
			
					</table>
	</center>
			</td>
	</tr>
</table>

