<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>分类名称</title>
</head>

<body>

<table style="BORDER-COLLAPSE: collapse" cellSpacing="0" cellPadding="0" width="100%" border="1" bordercolor="#C0C0C0">
<form method="POST" action="index.php?work=copy_rules&works=copy&rules={rules}">
	<tr>
		<td height="25" width="145">旧采集器名称</td>

		<td height="25" width="835">{name}</td>

	</tr>
	<tr>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" width="146" height="30">
		<p dir="ltr">新采集器名称</td>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" height="30" width="837">
		&nbsp;<input  title size="40" name="name" pop="在这里输入采集器的分类名称"> </td>
	</tr>
	<tr>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="left" colSpan="2" height="30">
		<input  title="添加分类" type="submit" value="添加分类">&nbsp;&nbsp; </td>
		</form>
	</tr>
</table>

</body>

</html>