<form method="POST" action="index.php?work=duct_4&id={id}">
<!-- BEGIN table -->
<table id="mysql" style="DISPLAY: block; border-collapse:collapse" border="1" cellspacing="0" bordercolor="#C0C0C0">
	<tr>
		<td height="25">{table_b}</td>
	</tr>
	
	<tr>
	<td>¡¡
<table style="BORDER-COLLAPSE: collapse" cellSpacing="0" cellPadding="0" width="" border="0">
<!-- BEGIN talt -->
	<tr onmouseover="this.style.backgroundColor = '#F7F7F7'" onmouseout="this.style.backgroundColor = ''">
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" bgColor="#f7f7f7" height="25" width="40" align="center">
		<input type="checkbox" name="put[{table_b}][]" value="{table_x}" {checked}>
		</td>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" width="100" align="center">
		{table_x}</td>
	</tr>
<!-- END talt --> 
</table>

</td>
</tr>
</table>
<!-- END table --> 

<input type="submit" value="ÏÂÒ»²½" >
</form>