<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>MYSQL数据库地址</title>
</head>

<body>
<form method="POST" action="index.php?work=duct_2&id={id}">
<table id="mysql" style="DISPLAY: block" width="100%" border="1" cellspacing="0" bordercolor="#C0C0C0">
	<tr>
	<td>
	<table id="mysql" style="DISPLAY: block; border-collapse:collapse" width="100%" border="1" bordercolor="#999999" cellspacing="0">
	<tr>
		<td width="30%" bgColor="#f7f7f7" height="25"><center>MYSQL数据库地址</center>
		</td>
		<td>&nbsp;&nbsp;<input class="button" name="nserver_name" value="{edit_nserver_name}"></td>
	</tr>
	<tr>
		<td bgColor="#f7f7f7" height="25"><center>MYSQL数据库用户</center></td>
		<td>&nbsp;&nbsp;<input class="button" name="username"  value="{edit_username}"></td>
	</tr>
	<tr>
		<td bgColor="#f7f7f7" height="25"><center>MYSQL数据库密码</center></td>
		<td>&nbsp;&nbsp;<input class="button" type="password"  name="psassword" value="{edit_password}"></td>
	</tr>
	<tr>
		<td bgColor="#f7f7f7" height="25"><center>MYSQL数据库名称</center></td>
		<td>&nbsp;&nbsp;<input class="button" name="database" value="{edit_database}"></td>
	</tr>
</table>
<input type="submit" value="下一步" >
</form>
</td>
</tr>
</table>

</body>

</html>