<script language="JavaScript">
function fCheck() {

	if(save.name.value=="") {
		alert("请输入配置名称");
		return false;
	}
	return true;
}
</script>


<form method="POST" name="save" action="index.php?work=duct_post&id={id}" onSubmit="return fCheck()">
<table style="BORDER-COLLAPSE: collapse" cellSpacing="0" cellPadding="0" width="100%" border="1" bordercolor="#C0C0C0">
	<tr>
		<td>

<table style="BORDER-COLLAPSE: collapse" cellSpacing="0" cellPadding="0" width="100%" border="1" bordercolor="#C0C0C0">

<!-- BEGIN put -->
	<tr onmouseover="this.style.backgroundColor = '#F7F7F7'" onmouseout="this.style.backgroundColor = ''">
			<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" bgColor="#f7f7f7" height="30">
		<center>{table_k}</center></td>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" bgColor="#f7f7f7" height="30">
		<center>{table_ke}</center></td>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
		&nbsp;&nbsp;{table_v}</td>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
		&nbsp;&nbsp;<input  onfocus="getActiveText(this)" onclick="getActiveText(this)" onchange="getActiveText(this)" size="25" value="{edit_value}" name="goput[{table_k}][{table_v}]"></td>
	</tr>
	
<!-- END put --> 


</table>

<p style="line-height: 5px">　


<table  style="BORDER-COLLAPSE: collapse" border="1" width="100%" bordercolor="#C0C0C0" cellspacing="0" cellpadding="0">
	<tr>
	<td bgcolor="#F7F7F7" width="120" align="center">请填写名称</td>
		<td>　<input type="text" name="name" value="{edit_name}" size="20"></td>
	</tr>

</table>

<p style="line-height: 5px">　


<table border="1" bordercolor="#C0C0C0" cellspacing="0" style="border-collapse: collapse" width="780">
		<tr>
	<td bgcolor="#F7F7F7" width="120" align="center">
	<p dir="ltr">预设采集器</td>
	<td width="632">　</td>
			</tr>
	
	<tr>
	
		<td colspan="2">
		<select style="WIDTH: 250px" multiple size="10" name="rules_id[]">
<!-- BEGIN rule -->
<option value="{rule_id}" {selected}>{rule_name}</option>
<!-- END rule --> 
</select>
</td>
	</tr>

</table>

<table border="1" bordercolor="#C0C0C0" cellspacing="0" style="border-collapse: collapse" width="780" height="179">
		<tr>
	<td bgcolor="#F7F7F7" width="340" align="center">
	<p dir="ltr">修改数据库信息</td>
	<td width="223" colspan="2">　</td>
			</tr>
	
	<tr>
	
		<td colspan="2">
		<textarea rows="15" name="newnum" cols="45">{newnum}</textarea></td>
				<td colspan="2" width="433" valign="top">
		<p dir="ltr">因为导出操作只能添加数据，而不能修改某些数据，使得出现错误<br>本功能 能修改导出的数据库某一地方 例如 PW论坛的帖子数
		使用按例：<br> 修改PW的帖子数： pw_forums|topic|[加][导出总数]|WHERE fid = 5<br>pw_forums|article|[加][导出总数]|WHERE fid = 5<br> 说明：用"|"分割  依序为 <br>数据库表名 | 字段名 | 要修改成？ | 哪条数据 格式为WHERE 
		字段名=XX <br>可以多项 一行一个 格式错误会被忽略
		
		</p>
		
		<p>系统可识别字段标签 :<br>
		[加] [导出总数] [减]</td>
	</tr>

</table>



　<p>输入标签
便会替换成想要的内容</p>
<p dir="ltr">系统可识别字段标签 :<br>
[标题] [内容] [来源] [作者] [网址] [文章编号]<br>
[时间] [时间格式:Y-m-d] [采集时间] [采集时间格式:Y-m-d]<br>
[随机:5,4]<br>
<br>
其中[时间格式:Y-m-d]标签为当前时间.<br>
这里的&quot;Y-m-d&quot;会得到形如&quot;2006-2-15&quot;格式的日期,可以自定义需要的格式.<br>
[时间]标签用来添加当前得unix时间戳.<br>
[采集时间]和[采集时间格式:Y-m-d]标签的功能和上面两个一样,只是他们采用的时间为采集文章时的时间.<br>
[随机:5,4]标签用来产生随机字符,&quot;5&quot;表示生成的字符串的长度,&quot;4&quot;是类型(1是数字类型,2是小写字母,3是大写字母,4是数字字母混合型). </p>



<input type="submit" value="提交" >
</td>
	</tr>
</table>


</form>