<table border="1" width="100%" cellspacing="0" style="border-collapse: collapse" bordercolor="#C0C0C0" height="30">
	<tr>
		<td width="15%"  bgcolor="#8482A5" height="30" align="center">
				<font color="#FFFFFF">ID</font><td width="45%"  bgcolor="#8482A5" >
		<font color="#FFFFFF">&nbsp; 名称</font></td>
		<td  bgcolor="#8482A5" align="center" >
		
		<font color="#FFFFFF">操作</font></td>
	</tr>
		
<!-- BEGIN duct --> 
	<tr>
		<td width="15%"  bgcolor="#F7F7F7">　{duct_id}</td>
		<td width="45%">　{duct_name}</td>
		<td>
		
		<center>		<a title pop="复制一个同样的配置" href="?work=duct&id={duct_id}">导出数据</a>
		 | <a title pop="复制一个同样的配置" href="?work=copy_duct&id={duct_id}">复制</a>
		 | <a href="?work=duct_1&id={duct_id}">编辑</a> |
		<a href="out_duct.php?id={duct_id}">导出规则</a>
		 | <a onclick="return window.confirm('您确定要删除编号为{duct_id}的导入规则『{duct_name}』么?');" href="?work=del&del=duct&ductid={duct_id}">删除</a></center>
		
		　</td>
	</tr>
<!-- END duct --> 
</table>

