<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>分类名称</title>
</head>

<body>

<table style="BORDER-COLLAPSE: collapse" cellSpacing="0" cellPadding="0" width="100%" border="0">
<form method="POST" action="index.php?work=edit_pass">
	<tr>
		<td  colSpan="2" height="25" bgcolor="#636194">　</td>
	</tr>
	<tr>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" width="15%" height="30" align="center">
		<p dir="ltr">管理账号</td>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" height="30">
		&nbsp;<input  title size="40" name="name" value="{name}" pop="在这里输入采集器的分类名称"> </td>
	</tr>
	
		<tr>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" width="15%" height="30" align="center">
		<p dir="ltr">管理密码</td>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" height="30">
		&nbsp;<input  title size="40" name="passs" value="{pass}" pop="在这里输入采集器的分类名称"> </td>
	</tr>
	
	<tr>
		<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="left" colSpan="2" height="30">
		<input  type="hidden" size="40" name="edit_pass" value="editpass"><input  title="提交" type="submit" value="确认提交">&nbsp;&nbsp; </td>
		</form>
	</tr>
</table>

</body>

</html>