<table border="1" width="100%" cellspacing="0" style="border-collapse: collapse" bordercolor="#636194">
	<tr>
		<td bgcolor="#F7F3F7" height="30" width="15%" align="center">原网址</td>
		<td bgcolor="#F7F3F7" height="30" width="35%"><a href="{urls}">　{urls}</a></td>
		<td bgcolor="#F7F3F7" height="30" width="15%" align="center">您的规则</td>
		<td bgcolor="#F7F3F7" height="30" width="35%" align="center">  {rule}</td>
	</tr>
	
		<tr>
		<td bgcolor="#F7F3F7" height="30" width="26%" align="left" colspan="4">
		<b>&nbsp;标色说名： 
		<font color="#0000FF"> 蓝色为[内容]前后 </font> <font color="#FF00FF">
		粉红色为[作者]前后</font><font color="#0000FF"> </font><font color="#00CC00"> 
		绿色为[分页区域]前后</font><font color="#C0C0C0">
		</font> <font color="#00FFFF">
		浅蓝为[上下页]前后</font>&nbsp; </b></td>
	</tr>

	<tr>
		<td height="30" colspan="4">
		{handles}</td>
	</tr>
</table>

