
<frameset rows="*" framespacing="0" frameborder="1" border="false" id="frame" scrolling="yes">
	<frameset cols="165,*" framespacing="0" frameborder="1" border="false" id="frame" scrolling="yes">
	<frame name="left" scrolling="auto" marginwidth="0" marginheight="0" src="index.php?work=left">
	<frame name="main" scrolling="auto" src="index.php?work=rules_show">
	</frameset>
</frameset>
<noframes>
  <body leftmargin="2" topmargin="0" marginwidth="0" marginheight="0">
  <p>Please Use IE 5.0</p>
  </body>
</noframes>
</html>
