<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>新建网页 1</title>
<style>
<!--

table { BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 2px}
.i_table{border: 1px solid #6365CE;background:#DEE3EF;}
td { BORDER-RIGHT: 1px; BORDER-TOP: 0px; FONT-SIZE: 12px; COLOR: #000000;}
.head { color: #ffffff;background: #636194;}
.left_padding{background:#F7F7F7;}
-->
</style>
</head>

<body>


<table border="1" width="100%" height="334">
	<tr>
		<td>


<table class="i_table" cellSpacing="1" cellPadding="4" width="98%" align="center">
	<tr>
		<td class="head">
		采集管理</td>
	</tr>
	<tbody id="cate_a6">
		<tr>
			<td class="left_padding">
			<p dir="ltr">
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=rules_show">采集器列表</a>
			<br>
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=link_show">连接列表</a>
			<br>
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=contlink_show">入库列表</a>
			<br>

</tr>
</table>




		</td>
	</tr>
	<tr>
		<td>


<table class="i_table" cellSpacing="1" cellPadding="4" width="98%" align="center">
	<tr>
		<td class="head">采集操作</td>
	</tr>
	<tbody id="cate_a7">
		<tr>
			<td class="left_padding">
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=add_class">添加分类</a>
			<br>
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=class_show">管理分类</a>
			<br>
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=add_rules">添加采集器</a>
			<br>
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=add_cont">采集文章</a>			
			
			</td>
</tr>
</table>




		</td>
	</tr>
	
		<tr>
		<td>


<table class="i_table" cellSpacing="1" cellPadding="4" width="98%" align="center">
	<tr>
		<td class="head">采集图片、FLASH</td>
	</tr>
	<tbody id="cate_a7">
		<tr>
			<td class="left_padding">
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=coll_img">采集图片</a>
			<br>
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=coll_swf">采集FLASH</a>

　</td>
</tr>
</table>




		</td>
	</tr>
	
		<tr>
		<td>


<table class="i_table" cellSpacing="1" cellPadding="4" width="98%" align="center">
	<tr>
		<td class="head">导出操作</td>
	</tr>
	<tbody id="cate_a7">
		<tr>
			<td class="left_padding">
			<a target="main" style="text-decoration: none; color: #000000" href="?work=duct_show">导出规则列表</a><br>
			<a target="main" style="text-decoration: none; color: #000000" href="?work=duct_1">添加导出规则</a><br>
			<a target="main" style="text-decoration: none; color: #000000" href="?work=file_duct">导人规则</a><br>
　</td>
</tr>
</table>




		</td>
	</tr>
	
		<tr>
		<td>


<table class="i_table" cellSpacing="1" cellPadding="4" width="98%" align="center">
	<tr>
		<td class="head">搜寻替换</td>
	</tr>
	<tbody id="cate_a7">
		<tr>
			<td class="left_padding">
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=all_replace">搜寻替换</a><br>
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=zz_replace">正则替换</a><br>
　</td>
</tr>
</table>




		</td>
	</tr>
	
			<tr>
		<td>


<table class="i_table" cellSpacing="1" cellPadding="4" width="98%" align="center">
	<tr>
		<td class="head">
		登陆操作</td>
	</tr>
	<tbody id="cate_a7">
		<tr>
			<td class="left_padding">
			<a target="main" style="text-decoration: none; color: #000000" href="index.php?work=edit_pass">修改账号密码</a><br>
			<a target="_top" style="text-decoration: none; color: #000000" href="logout.php?work=logout">退出登陆</a><br>

　</td>
</tr>
</table>




		</td>
	</tr>

	
</table>




<p>Powered by <a href="http://www.2u.org.cn/bbs/">hmjcj v1.1</a> CE Code &copy; 2005-06</p>




</body>

</html>