<table border="1" width="100%" cellspacing="0" bordercolor="#636194" style="border-collapse: collapse">
	<tr>
		<td>
		
<form name="tablesForm" method="get" action="index.php">
<input type="hidden" value="link_show" name="work">
<p dir="ltr">

<select dir="ltr" onchange="this.form.submit();" name="rules">
<option value="">显示全部</option>
<!-- BEGIN rules -->
<option value="{id}" {selected}>{name}</option>
<!-- END rules --> 
</select> </p>
</form>
		</td>
	</tr>


	<tr>
		<td >

{dvpage}

<table border="1" width="100%"  bordercolor="#636194" cellspacing="0" cellpadding="4" style="border-collapse: collapse" >
	<tr>
		<td width="7%" bgcolor="#8482A5" align="center" height="30">
		<font color="#FFFFFF">ID</font></td>
		<td width="39%" bgcolor="#8482A5" height="30"><font color="#FFFFFF">标题</font></td>
		<td width="10%" bgcolor="#8482A5" height="30"><font color="#FFFFFF">采集器ID</font></td>
		<td width="11%" bgcolor="#8482A5" height="30"><font color="#FFFFFF">采集时间</font></td>
		<td width="10%" bgcolor="#8482A5" height="30"><font color="#FFFFFF">是否采集</font></td>
		<td width="10%" bgcolor="#8482A5" height="30"><font color="#FFFFFF">是否已入库</font></td>
	</tr>
<!-- BEGIN link --> 

	<tr>
		<td width="7%" bgcolor="#C0C0C0" align="center">{link_id}</td>
		<td width="39%"><a target="_blank" href="{link_url}">{link_title}</a></td>
		<td width="10%">{link_rules}</td>
		<td width="11%">{link_date}</td>
		<td width="10%">{link_adopt}</td>
		<td width="10%">{link_import}</td>
	</tr>
<!-- END link --> 
</table>
{dvpage}

		　</td>
	</tr>
</table>