<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>管理登录</title>
</head>

<body>

<div align="center">
<form method="post" action="login.php">
<table border="0" width="79%" height="471" style="border-collapse: collapse">
	<tr>
		<td width="94" height="97">　</td>
		<td height="100">　</td>
		<td width="78" height="97">　</td>
	</tr>
	<tr>
		<td width="100">　</td>
		<td align="center">


					<table style="BORDER-COLLAPSE: collapse" cellSpacing="0" cellPadding="0" width="68%" border="0">
						<tr>
							<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="middle" width="362" bgColor="#f7f7f7" height="25">
							管理登录 </td>
						</tr>
						<tr>
							<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="middle" height="175">
							名字&nbsp;&nbsp;<input class="button" value="" name="username"><br>
							<br>
							密码&nbsp;&nbsp;<input class="button" type="password" value name="password"><br>
							<br>
							<input type="radio" CHECKED value="no" name="savetime">&nbsp;一次&nbsp;<input type="radio" value="1day" name="savetime">&nbsp;一天<input type="radio" value="1week" name="savetime">&nbsp;一周&nbsp;<input type="radio" value="1year" name="savetime">&nbsp;一年 
							</td>
						</tr>
						<tr>
							<td style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="right" bgColor="#f7f7f7" height="30">
							<input class="button" type="submit" value="确定登陆">
							<input type="hidden" value="1" name="islogin">&nbsp;&nbsp;</td>
						</tr>
					</table>

		</td>
		<td width="100">　</td>
	</tr>
	<tr>
		<td width="94" height="69">　</td>
		<td height="100">　</td>
		<td width="78" height="69">　</td>
	</tr>
</table>

</div>

</body>

</html>