<table border="1" width="100%" cellspacing="0" style="border-collapse: collapse" bordercolor="#636194">
	<tr>
		<td bgcolor="#F7F3F7" height="30" width="213" align="center">原网址</td>
		<td bgcolor="#F7F3F7"><a href="{urls}">　{urls}</a></td>
	</tr>
	
		<tr>
		<td bgcolor="#F7F3F7" height="30" width="5%" align="center">
		分析HTML</td>
		<td bgcolor="#F7F3F7" height="30" width="21%" align="center">
		<a target="_blank" href="index.php?work=file_cont&rules={file_rules}&cuowuleurl={urls}">错误了吗来分析HTML吧</a></td>
	</tr>
	
		<tr>
		<td bgcolor="#F7F3F7" height="30" width="213" align="center">
		<p dir="ltr">作者</td>
		<td bgcolor="#F7F3F7">&nbsp; {author}</td>
	</tr>

	<tr>

				<td colspan="2" align="center">
				
					<center>
		<table width="98%">
		<tr>
			<td>
			{cont}
						</td>
		</tr>
			
					</table>
	</center>
			
			</td>
	</tr>
</table>
