<table style="BORDER-COLLAPSE: collapse" cellSpacing="0" cellPadding="0" width="100%" border="1" bordercolor="#C0C0C0">
							<tr>
								<td width="27%" bgColor="#8482A5" height="30" align="center">
								<p dir="ltr"><font color="#FFFFFF">错误分析</font></td>
								<td width="15%" bgColor="#8482A5" height="30" align="center">
								<font color="#FFFFFF">连接数</font></td>
								<td width="25%" bgColor="#8482A5" height="30" align="center">
								<font color="#FFFFFF">分析HTML</font></td>
								<td width="33%" bgColor="#8482A5" height="30" align="center">
								<font color="#FFFFFF">测试的网址</font></td>
							</tr>

							<tr>
								<td width="27%" bgColor="#efefef" height="40" align="center">
								<center>{test_file}</center></td>
								<td width="15%" bgColor="#f7f7f7" align="center" height="40">
								&nbsp;&nbsp;{test_num}</td>
								<td width="25%" bgColor="#f7f7f7" align="center" height="40">
								
								<a target="_blank" href="?work=file_link&rules={file_rules}&cuowuleurl={file_url}">错误了吗来分析HTML吧</a>
								</td>
								<td width="33%" bgColor="#f7f7f7" align="center" height="40">
								<center>
								<a target="_blank" href="{html_url}">{html_url}</a></center></td>
							</tr>
							<tr>
								<td width="19%"  height="142" colspan="4">
						

<!-- BEGIN test_link --> 
<table style="BORDER-COLLAPSE: collapse" cellSpacing="0" cellPadding="0" width="100%" border="1" bordercolor="#C0C0C0">
							<tr>
								<td width="10%" bgColor="#efefef" height="30">
								<center>标题</center></td>
								<td width="70%" bgColor="#f7f7f7">
								&nbsp;&nbsp;{test_title}</td>
								<td width="20%" bgColor="#f7f7f7">
								<center>
								<a target="_blank"  href="?work=test_work&rules={test_rules}&ceshitqurl={test_url}">
								测试提取</a></center></td>
							</tr>
							<tr>
								<td bgColor="#efefef" height="30">
								<center>连接</center></td>
								<td>
								&nbsp;&nbsp;<a target="_blank"  href="{test_url}">{test_urlname}</a></td>
								<td>
								<center><a href="#top">返回顶部</a></center></td>
							</tr>
						</table>
<!-- END test_link --> 

								</td>
							</tr>
							
							
							</table>