<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>新建网页 1</title>
<style>
<!--
table { BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 2px}
.i_table{border: 1px solid #6365CE;background:#DEE3EF;}
td { BORDER-RIGHT: 1px; BORDER-TOP: 0px; FONT-SIZE: 12px; COLOR: #000000;}
-->
</style>
</head>

<body>

<!-- BEGIN work --> 

<iframe   frameborder="0" scrolling="no"  height="80" width="50%" src="titi{formss}.php?yuse={i}&rules={rules}&num={num}&total={total}&radio={radio}&hangshu={hangshu}" name="n{i}" target="n{i}" ></iframe>

<!-- END work --> 

</table>
<p>
<a style="COLOR: #FF3300; TEXT-DECORATION: none" target="_top" href="renewing2.php?rules={rules}">
停止采集</a></p>
<p dir="ltr">因为线程过多 而停止不了 可以刷新本页 或者关闭窗口 因为是强迫终止 必须更新统计</p>

